/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebebeb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0058b6;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

/* Container Principal */
.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.sign-up,
.sign-in {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0058b6;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0058b6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003f89;
}

/* Painéis Laterais */
.toogle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #f7f7f7;
    flex: 1;
}

.toogle {
    text-align: center;
}

.toogle-panel {
    margin: 20px 0;
}

.toogle-panel h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.toogle-panel p {
    font-size: 14px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

/* Links */
a {
    font-size: 14px;
    text-decoration: none;
    color: #0058b6;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}


/* Estilo para o dropdown (select) */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  