* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #0058b6;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar .logo-img {
    width: 40px;
    margin-right: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

/* Formulário de Cadastro de Anúncio */
.form-container {
    background-color: white;
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0058b6;
    color: #ffffff;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #00428a;
}
